.text-primary{
    color: $color-primary;
}
.text-white{
    color: $color-light;
}
.text-secondary{
    color: $color-secondary;
}
.bg-primary{
    background-color: $color-primary;
}
.bg-white{
    background-color: $color-light;
}
.bg-secondary{
    background-color: $color-secondary;
}
.navbar-brand,.nav-link{
    color: $color-light;
}